<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" th:href="@{/css/style.css}" />

<title th:text="${title}">Base</title>
</head>
<body>

	<!-- Start Navbar -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Smart Contact Manager</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto text-uppercase">

				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<!-- <li class="nav-item"><a class="nav-link" href="#">About</a></li> -->
				<li class="nav-item"><a class="nav-link"> <span
						th:text="${user.name}"></span></a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/logout}">Logout </a></li>

			</ul>

		</div>
	</nav>

	<!-- End Navbar -->

	<!-- This is sidebar  -->
	
	<div class="sidebar">
	
	<span onclick="toggleBar()" class="crossBtn">&times;</span>
	
	<a href="#" th:href="@{/user/index}" class="item"><i class="fas fa-home"></i>Home</a>
	<a href="#" class="item"><i class="fas fa-id-card-alt"></i>View</a>
	<a href="#" th:href="@{/user/add-contact}" class="item"><i class="fas fa-pencil-alt"></i>Add Contact</a>
	<a href="#" class="item"><i class="fas fa-user-circle"></i>Your Profile</a>
	<a href="#" class="item"><i class="fas fa-cogs"></i>Settings</a>
	<a href="#" th:href="@{/logout}" class="item"><i class="fas fa-sign-out-alt"></i>Logout</a>
	<div class="divider"></div>
	
	</div>

	<!-- end of sidebar -->

	<!-- content area  -->
	<div class="content">
	
	<i onclick="toggleBar()" class="fas fa-bars m-3"></i>
	
		<div th:replace="${content}"></div>
	</div>

	<!-- end of content -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/script.js}"></script>

</body>
</html>